<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Yachayqay Test</title>
        <link rel="stylesheet" href="assets/css/style_dashboard.css">
    </head>
    <body style="background:#fff "><br><br>
      <center><h1 style="font-family:'Lobster', cursive;font-size:50px;margin-bottom: 0;color: #000;">Resultados Generales</h1></center> 
        <div class="contenedor">
           <figure >
               <img  src="assets/img/eta2.png" alt="">
               <div class="capa">
                   <h3 >Datos estadisticos generales</h3>
                   <p>Este apartado nos mostrará los datos estadisticos por salón obtenidos de los estudiantes al haber completado el test</p>
                   <a href="Estadisticas_Generales_Alumnado.php" style="color: white;text-decoration: none;font-family:fantasy">ver</a>
               </div>
           </figure>
           </div>
           <div class="contenedor">
            <figure>
               <img src="assets/img/aliumnado.jpg" alt="">
               <div class="capa">
                   <h3>Datos por Alumnado</h3>
                   <p>Este apartado nos mostrará los datos por alumnado para contrastar y mejorar el aprendizaje </p>
                   <a href="Estadisticas_Individuales.php" style="color: white;text-decoration: none;font-family:fantasy">ver</a>
               </div>
           </figure>
        </div>
    </body>
</html>