
retroalimentacion/video/atardecer.mp4
retroalimentacion/video/carro.mp4
retroalimentacion/video/fogata.mp4
retroalimentacion/video/Lake_Ripple.mp4
retroalimentacion/video/mujeres.mp4
retroalimentacion/video/playa.mp4
retroalimentacion/video/trabajo.mp4
retroalimentacion/video/Video_Of_Ocean.mp4
app.py
Procfile
ml/activo-reflexivo.pkl
ml/requerimientos.txt
ml/secuencial-global.pkl
ml/sensitivo-intuitivo.pkl
ml/visual-verbal.pkl
